{% extends "home.html" %}

{% block donationDetail %}
    <div class="w3-container" style="padding-top:2%" align="center">
        <header class="w3-container" style="padding-top:5%" align="center">
            <h4><b><i class="fa"></i> {{locationName}} Donation List </b></h4>
        </header><hr>
    </div>

    <div class="w3-card-4" style="width:50%; background-color:white;">
        <div class="w3-container w3-row">
            <!-- {% for location in locationList %}
                <ul class="w3-ul w3-card-4" style="background-color: white;">
                    <li class="w3-bar">
                        <img src="../static/pictures/thiftstore.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:90px">
                        <div class="w3-bar-item">
                            <span class="w3-large">{{location.locationName}}</span><br>
                            <span class="w3-medium">{{location.address}}</span><br>
                            <span>{{location.website}}</span>
                        </div>
                    </li>
                </ul>
            {% endfor %} -->
        </div>
    </div>

<!-- Stylesheet -->
<style>

</style>

<!-- Main controller -->
<script>

</script>
{% endblock %}