{% extends "layout.html" %}
{% block body %}

<!-- Import the files from static -->
<link href="{{ url_for('static', filename='../static/stylesheet/login.css') }}" rel="stylesheet">
<script type="text/javascript" src=" {{ url_for('static', filename='../static/functions/login.js') }}"></script>

<!-- Main Code -->
<div id="back">
  <div class="backRight"></div>
  <div class="backLeft"></div>
</div>

<div id="slideBox">
  <div class="topLayer">
    <div class="left">
      <div class="content">
        <h2>Sign Up</h2>
        <form id="signup_form" method="post" enctype="multipart/form-data" onsubmit="return false;">
			<div class="form-group">
				<input id="email_signup" type="text" placeholder="Email"/>
			</div>
          	<div class="form-group">
				<input type="text" placeholder="Password" />
			</div>
			<div class="form-group">
				<input type="text" placeholder="Confirm Password" />
			</div>
			<div class="form-group">
				<select id="userType" data-selected="">
					<option value="ADMIN">ADMIN</option>
					<option value="LOCATIONEMPLOYEE">LOCATIONEMPLOYEE</option>
					<option value="USER">USER</option>
					<option value="MANAGER">MANAGER</option>
				</select>
			</div>
        </form>
		<div class="floatRight">
			<button id="goLeft" class="off">Login</button>
			<button type="submit" value="signup" >Sign Up</button>
		</div>
      </div>
    </div>
    <div class="right">
      <div class="content">
        <h2>Login</h2>
        <form id="signin-form" action="/signin" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <input type="text" placeholder="Email" name="email_signin" />
          </div>
		  <div class="form-group">
            <input type="text" placeholder="Password" name="password_signin" />
          </div>
		  	<div class="floatRight">
				<button type="submit" value="submit">Login</button>
			</div>
        </form>
		<div class="floatRight">
			<button id="goRight" class="off">Sign Up</button>
		</div>
      </div>
    </div>
  </div>
</div>
<!-- End Code -->
{% endblock %}