{% extends "home.html" %}

<link href="{{ url_for('static', filename='../static/stylesheet/locationlist.css') }}" rel="stylesheet">
<script type="text/javascript" src=" {{ url_for('static', filename='../static/functions/locationlist.js') }}"></script>

{% block locationList %}
    <div class="w3-container" style="padding-top:2%">
        <header class="w3-container" style="padding-top:5%" align="center">
            <h4><b><i class="fa"></i> Location List View</b></h4>
        </header><hr>
            {% for location in locationList %}
            <ul class="w3-ul w3-card-4" style="background-color: white;">
                <li class="w3-bar">
                    <span onclick="viewDetail(event)" class="w3-bar-item w3-button w3-black w3-large w3-right">Detail</span>
                    <span onclick="viewDonation(event)" class="w3-bar-item w3-button w3-gray w3-large w3-right">Donate</span>
                    {% if userType %}
                        <span onclick="addDonation(event)" class="w3-bar-item w3-button w3-orange w3-large w3-right">Add</span>
                    {% endif %}
                    <img src={{location.picture}} class="w3-bar-item w3-circle w3-hide-small" style="width:90px">
                    <div class="w3-bar-item">
                        <span class="w3-large">{{location.locationName}}</span><br>
                        <span class="w3-medium">{{location.address}}</span><br>
                        <span>{{location.website}}</span>
                    </div>
                </li>
            </ul><br>
            {% endfor %}
    </div>

<!-- Controller -->
<script>
    // Controller for detail list view
    function viewDetail(event) {
        textOut = event.target.parentElement.innerText.split('\n')
        locationName = textOut[0].slice(15, textOut[0].length)
        window.location.href = '/locationdetail' + '/' + locationName
    }

    // Controller for donation list view
    function viewDonation(event) {
        textOut = event.target.parentElement.innerText.split('\n')
        locationName = textOut[0].slice(15, textOut[0].length)
        window.location.href = '/getDonationsData/' + locationName
    }

    function addDonation(event) {
        textOut = event.target.parentElement.innerText.split('\n')
        locationName = textOut[0].slice(15, textOut[0].length)
        window.location.href = '/addDonation/' + locationName
    }
</script>

{% endblock %}