{% extends "home.html" %}

<link href="{{ url_for('static', filename='../static/stylesheet/locationdetail.css') }}" rel="stylesheet">
<!-- <script type="text/javascript" src=" {{ url_for('static', filename='../static/functions/locationlist.js') }}"></script> -->

{% block locationDetail %}

<div class="w3-container" style="padding-top:2%" align="center">
        <header class="w3-container" style="padding-top:5%" align="center">
            <h4><b><i class="fa"></i> {{locationName}} detail </b></h4>
        </header><hr>
        <div class="w3-card-4" style="width:50%; background-color:white;">
            <div class="w3-container w3-row">
                <div class="w3-col s6 w3-center" style="margin-top: 5%;">
                    <img src="../static/pictures/thiftstore0.png" style="height:20%; width:60%"><br><br>
                    <button class="w3-button w3-white w3-border w3-border-red w3-round-large">Donation List</button>
                </div>
                <div class="w3-col s6" align='left'>
                    <p>STREET ADDRESS: {{detail.address}} </p>
                    <p>STATE: {{detail.state}}</p>
                    <p>CITY: {{detail.city}}</p>
                    <p>ZIPCODE: {{detail.zip}}</p>
                    <p>TYPE: {{detail.locationType}}</p>
                    <p>PHONE: {{detail.phone}}</p>
                    <p>WEBSITE: {{detail.website}}</p>
                    <p>LATITUDE: {{detail.latitude}}</p>
                    <p>LONGITUDE: {{detail.longitude}}</p>
                </div>
            </div>
        </div>
    </div>

<!-- Controller -->
<script>

</script>
{% endblock %}